body{
    background:white;
    width: 100%;
}
.abhi{
text-align: center;

}
.abhi1{
    text-align: center;
    padding-top: 40px;

}
.color{
color: rgb(20, 111, 142);
text-align: center;
font-size: small;
font-weight: 200;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 20px;
padding-bottom: 20px;
}
.box{
    text-align:left;
border-radius: 3mm;
border-width:1px;
width: 40%;
margin-left: 400px;
padding-left: 10px;




}
.box1{
    text-align: left;
border-radius: 3mm;
border-width:1px;
width: 40%;
margin-left: 400px;
margin-top: 10px;
padding-left: 10px;


}
.box2{
    text-align: left;
border-radius: 3mm;
border-width:1px;
width: 40%;
margin-left: 400px;
margin-top: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;



}
.box3{
    text-align:left;
border-radius: 3mm;
border-width:1px;
width: 40%;
margin-left: 400px;
margin-top: 10px;
padding-left: 10px;


}
.box4{
    text-align:left;
border-radius: 3mm;
border-width:1px;
width: 40%;
margin-left: 400px;
margin-top: 10px;
padding-left: 10px;


}
.music{
display:inline-flex;
text-align: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.box5{
    text-align:left;
border-radius: 3mm;
border-width:1px;
width: 40%;
margin-left: 400px;
margin-top: 10px;

}
.box6{
    text-align:left;
border-radius: 3mm;
border-width:1px;
width: 40%;
margin-left: 400px;
margin-top: 10px;

}
